.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    background: rgb(25, 25, 112);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-family: "CopperPlate", fantasy;
    text-align: center;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width : 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width : 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgb(0, 0, 128);
        border-bottom: 1px solid rgb(0, 0, 128);
    }
    .navigation li:last-of-type a {
        border-bottom: solid;
        border-top: solid;
        color: white;
    }
}
section {text-align: center;
font-family: "CopperPlate", fantasy;
}
h1 {text-align: center;
font-family: "CopperPlate", fantasy;}
