
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    background: #191970;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-family: "CopperPlate", fantasy;
    text-align: center;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width : 800px) {
    .navigation {
        justify-content: space-around;
    }

@media all and (max-width : 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #000080;
        border-bottom: 1px solid #000080;
    }
    .navigation li:last-of-type a {
        border-bottom: solid;
        border-top: solid;
        color: white;
    } 
html {
    font-family: "CopperPlate", fantasy;
}

p {
    margin-right: 120px;
    margin-left: 120px;
    background-color: #bfdcff;
    border-radius: 25px;
    padding: 20px;
}

ul {
    margin-right: 140px;
    margin-left: 140px;
    background-color: #bfdcff;
    
}

h1 {
    text-align: center;
    background-color: #73b4ff;
    margin-right: 380px;
    margin-left: 380px;
    border-radius: 15px;
    padding: 10px;
}

h2 {
    text-align: center;
    background-color: #b3d6ff;
    margin-right: 490px;
    margin-left: 490px;
    border-radius: 15px;
    padding: 10px;
}

img {
    margin-right: 150px;
    margin-left: 150px;
}

